@import './SearchBox.css';

.initial-form {
  background-color: #fff;
  border-radius: 0.75rem;
  position: relative; 
}

.search-input {
  margin-left: 0.8rem;
  margin-right: 0.8rem;
}

.search-icon {
  position: absolute;
  top: 30%; 
  right: 3rem; 
  margin-top: 0.9rem;
  transform: translateY(-50%); 
  font-size: 1.2rem;
  z-index: 2;
  color: #000;
}

.direction-icon.active,
.direction-icon.disabled,
.direction-icon {
  position: absolute;
  top: 30%; 
  right: 1rem; 
  margin-top: 0.9rem;
  transform: translateY(-50%); 
  font-size: 1.2rem;
  z-index: 2;
  color: #000;
}