@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap');

.route-options-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  font-family: 'Space Grotesk', sans-serif;
}

  .route-options-button {
    width: 18.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.8rem;
    margin-left: 0.8rem;
    background-color: #f5f5f5;
    border: none;
    border-radius: 0.75rem;
    cursor: auto;
    color: #666;
    background-color: #f5f5f5;
    margin-top: 0.4rem;
  }
  
  .route-options-button:hover{
    background-color: #f5f5f5;
  }

  .button-content {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    margin: 0;
  }

  .button-content figcaption {
    margin: 0;
    color: #333;
    font-size: 0.95rem;
  }

  .switch {
    position: relative;
    width: 3em; 
    height: 1.7em; 
    background-color: #ccc;
    border-radius: 34px;
    transition: background-color 0.3s;
    margin-top: 0.4rem;
    margin-right: -2.5rem;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 1.4em; 
    width: 1.4em; 
    left: 0.15em; 
    bottom: 0.15em; 
    background-color: white;
    transition: .4s;
    border-radius: 50%;
  }

  input:checked + .slider {
    background-color: #78bbf2;
  }

  input:checked + .slider:before {
    transform: translateX(1.3em); 
  }
  .tooltip {
    position: absolute;
    top: 9rem;
    left: 25.5rem;
    transform: translateX(-50%);
    background-color: white;
    color: black;
    padding: 0.5rem; 
    border-radius: 0.4em;
    font-size: 1em;
    width: 12.6rem;
    white-space: normal;
    box-shadow: 0 0.1em 0.2em rgba(0, 0, 0, 0.3);
    z-index: 10;
    text-align: center;
  }

  .icon-info-1:hover{
    color: #00bfa5;
  }


  .search-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 9rem;
    background-color: #00bfa5;
    color: white;
    padding: 0.5rem; 
    margin: 0.8rem; 
    margin-top: -0.1vw;
    border-radius: 2rem;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    transition: background-color 0.2s ease;
  }
  
  .search-button-icon {
    margin-left: 0.5rem;
    font-size: 1.2rem;
  }
  
  .search-button:hover {
    background-color: #00a896;
  }