.landing-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.landing-container > header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.05);
}

.landing-container > main {
  flex-grow: 1;
}