.hero {
  background-color: #F8F9FA;
  padding: 4rem 2rem;
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 2rem;
}

.hero-text {
  max-width: 60%;
}

.hero-text h1, .hero-text p {
  text-align: left;
}

.hero-text h2 {
  margin-top: 10rem;
}

.start-button {
  background-color: #00BFB3;
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  font-size: 1.3rem;
  transition: background-color 0.3s ease;
}

.start-button:hover {
  background-color: #00A89D;
}

.hero-image img {
  width: 45rem;
  height: 25rem;
  border-radius: 2rem;
}

@media (max-width: 1024px) {
  .hero-text {
    max-width: 100%;
  }

  .hero-content {
    flex-direction: column;
  }

  .hero-image img {
    width: 100%;
    height: auto;
  }
}
