.hero {
  background-color: #F8F9FA;
  padding: 4rem 2rem;
}

.hero-content {
  width: 100%;
  height: 65vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.hero-text {
  text-align: center;
  padding: 1rem;
}

.hero-text h1, .hero-text p {
  max-width: 90%;
  margin: auto;
}

.hero-text h2 {
  max-width: 90%;
  margin-top: 3rem;
}

.start-button {
  background-color: #00BFB3;
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  font-size: 1.3rem;
  transition: background-color 0.3s ease;
}

.start-button:hover {
  background-color: #00A89D;
}

.hero-image img {
  max-width: 100%;
  height: auto;
  border-radius: 2rem;
}
